body {
  padding: 20px;
  font-size: Arial, Helvetica, sans-serif;
}
.menu {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.menu svg {
  margin-right: 8px;
}
.content {
  /* display: none; */
  padding: 10px;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
}